/** CSS*/ /**CSS*/
* {
    box-sizing: border-box;
  }
  
  .gallery-img {
    display: none;
    max-height: 600px;
  }
  
  .active {
    display: block;
  }
  
  .image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btns {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .btn {
    background-color: #0074d9;
    color: white;
    font-size: 20px;
    padding: 5px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .prev {
    margin-right: 15px;
  }
  
  .btn:disabled {
    background-color: #666;
    cursor: not-allowed;
  }
  .swiper-slide {
    text-align: center;
  }
  
  img {
    height: 600px;
  }
  body{
    padding:0;
    margin:0;
  }
  .main-nav{
    margin:0;
    color:white;
    background-color: black;
    padding: 15px;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    z-index: 5;
  }
  .brand{
    margin:0;
    cursor: grab;
    font-size: 50px;
    z-index:10;
  }