html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
#main-section{

    height:  80%;

}
body {
    font-family: 'Open Sans', sans-serif;
    background-color:#081B26;
    background-image: url('../img/bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Kavivanar', cursive;
    font-weight: normal;
}
h2 {
    font-size: 2rem;
    color: #F2AE72;
    margin: 0;
}
a {
    color:#8C7C68;
    text-decoration: none;
  
}
a:hover {
    text-decoration: underline;
}
header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
.leftheader {
    flex-basis: 40%;
    text-align: right;
    padding-right: 0.5rem;
}
.leftheader h1 {
    margin: 2em;
    color:#F2AE72;
    font-size: 4rem;
}

nav {
    border-bottom: 2px solid #F2AE72;
    border-top: 2px solid #F2AE72;
    margin-top: 2rem;
   
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}
nav li {
    display: inline-block;
}
nav a {
    text-decoration: none;
    color: #081B26;
    font-weight: bold;
    font-size: large;
    display: block;
    padding: 0.5rem 1rem;
    
}
nav a:hover {
    background-color:#081B26;
    color:#F2AE72;
}
section {
 
    margin-bottom: 0.3rem;
    display: flex;
    flex-flow: column nowrap;
}


